body{
  background: rgb(70, 97, 97);
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1p solid black;
}

th,
td {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(54, 54, 248);
}

td {
  background-color: rgb(135, 135, 163);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

#edit{
 background: rgb(197, 197, 103);
 border-radius: 12px;
}

#delete{
  background: rgb(199, 68, 68);
  border-radius: 12px;
}

#cancle{
  background: rgb(197, 197, 103);
 border-radius: 12px;
}

#save{
  background: green;
  border-radius: 12px;
}
